# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

menuconfig LED_NRF
	bool "LED NRF"
	default y
	help
	  Lorem ipsum.

menuconfig LED_NRF_LOG_LEVEL
	int "Log Level"
	default 3

menuconfig LED_NRF_INIT_PRIORITY
	int "Init Level"
	default 3
